<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>unheardpath</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unheardpath</string>
			</array>
		</dict>
	</array>
	<key>SupabaseProjectUrl</key>
	<string>https://mrrssxdxblwhdsejdlxp.supabase.co</string>
	<key>SupabasePublishableKey</key>
	<string>sb_publishable_mBb4Rnl2jdhbCR9EjcOK_A_WyZK2DzM</string>
	<key>PostHogAPIKey</key>
	<string>phc_eemutcq6MB1APyM02DpBfKeye36dajanLsKHhcsmRye</string>
	<key>PostHogHost</key>
	<string>https://www.unheardpath.com/relay-TjH4</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiamVzc2ljYW1pbmd5dSIsImEiOiJjbWZjY3cxd3AwODFvMmxxbzJiNWc4NGY4In0.6hWdeAXgQKoDQNqbPiebzw</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>mrrssxdxblwhdsejdlxp.supabase.co</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
