<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>unheardpath</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unheardpath</string>
			</array>
		</dict>
	</array>
	<key>GEOAPIFY_API_KEY</key>
	<string>e810e0454fda45acbf6b3fbaa7bebe15</string>
	<key>IS_POSTHOG_TRACKING_ENABLED</key>
	<false/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiamVzc2ljYW1pbmd5dSIsImEiOiJjbWZjY3cxd3AwODFvMmxxbzJiNWc4NGY4In0.6hWdeAXgQKoDQNqbPiebzw</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPSLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<false/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPSLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<false/>
			</dict>
			<key>mrrssxdxblwhdsejdlxp.supabase.co</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>POSTHOG_API_KEY</key>
	<string>phc_eemutcq6MB1APyM02DpBfKeye36dajanLsKHhcsmRye</string>
	<key>POSTHOG_HOST</key>
	<string>www.unheardpath.com/relay-TjH4</string>
	<key>SUPABASE_PROJECT_URL</key>
	<string>mrrssxdxblwhdsejdlxp.supabase.co</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_mBb4Rnl2jdhbCR9EjcOK_A_WyZK2DzM</string>
	<key>UHP_GATEWAY_HOST_DEBUG</key>
	<!-- Local IP while developing in SZX -->
	<!-- <string>192.168.50.171:1031</string> --> 
	<!-- Local IP while developing in HKG on Carrier Network -->
	<string>172.20.10.3:1031</string> 
	<!-- Local IP while developing while tethering iPhone with USB: Settings → Network → iPhone USB → IP Address  -->
	<!-- <string>172.20.10.2:1031</string> -->
	<key>UHP_GATEWAY_HOST_RELEASE</key>
	<string>api.unheardpath.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSerif4Display-Semibold.ttf</string>
		<string>SourceSerif4Subhead-It.ttf</string>
		<string>SourceSerif4-Regular.ttf</string>
		<string>SourceSans3-ExtraLight.ttf</string>
		<string>SourceSans3-Regular.ttf</string>
		<string>SourceSans3-Semibold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.semina.unheardpath</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>USE_PROD_URL</key>
	<false/>
</dict>
</plist>
