//
//  Config.Release.xcconfig
//  unheardpath
//
//  Created by Jessica Luo on 2025-12-02.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Config.xcconfig"

// PostHog tracking enabled for production
IS_POSTHOG_TRACKING_ENABLED = YES

// Use production gateway
USE_PROD_URL = YES

